# Dependencies
node_modules/

# Environment variables
.env
Capsule-media-upload.json

# Build files
/client/build

# Logs
*.log
.VSCodeCounter

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# uploads
uploads