/* components/create-capsule/CreateCapsule.module.css */
.createCapsulePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
  color: #333;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}